{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7a9bd15cd7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'public/css/adressStyle.css'%}">
    <link rel="stylesheet" href="{% static 'public/css/navbarStyle.css'%}">
    <link rel="stylesheet" href="{% static 'public/css/colors.css'%}">
    
    <title>Endereços</title>
</head>
<body>
    <section class="Cardapio">
        <main class="container">
            <h2 class="formH2">Meus Endereços</h2>
            <div class="smLineCD"></div>
            <div>
                <div class="card addresCard local">
                    <h5>Local Teste</h5>
                </div>
            </div>
            <input type="submit" value="Novo endereço" name="Entrar" class="Continue btn btn-warning loginBtn addNewLocalBtn">
            
        </main>
    </section>



    <section id="addLocal" class="addLocal">
        <main style="height:95vh;" class="container">
            <h2 class="formH2" style="text-align: center;">Guru <span style="color:var(--main-Color)">•</span> Delivery</h2>
            <p class="formP" style="text-align: center;">Preencha os campos <br> para criar o seu cadastro como Restaurante</p>
            
            <form method="post" action="/registered/" accept-charset="utf-8">
                {% csrf_token%}
                <div class="input-field">
                    <input class="entryBox" type="text" name="name" id="name" placeholder="Digite seu nome">
                    <div class="underline"></div>
                </div>
                <br>
                <div class="input-field">
                    <input class="entryBox" type="text" name="email" id="email" placeholder="Digite seu e-mail">
                    <div class="underline"></div>
                </div>
                <br>
                <div class="input-field">
                    <input class="entryBox" type="password" name="password" id="password" placeholder="Digite sua senha">
                    <div class="underline"></div>
                </div>
                <input type="submit" value="Cadastrar" name="Cadastrar" class="Continue">
            </form>
            <br>
            <p style="text-align: center;">Ja tem cadastro? <a onclick="showLogin()" >Fazer Login</a></p> 
        </main>
    </section>
    
</body>
</html>