<!-- Tela de Autenticação -->
    
<section id="Login" class="login">
        
    <main style="height:95vh;" class="container">
        
        <h2 class="formH2" style="text-align: center;">Guru <span style="color:var(--main-Color)">•</span> Delivery</h2>
        <p class="formP" style="text-align: center;">Use suas credenciais <br> para realizar o login</p>
        <div class="smLineBG"></div>
        <div class="smLine"></div>
        
        <form method="post" action="/logged/" accept-charset="utf-8">
            {% csrf_token%}
            <div class="input-field">
                <input class="entryBox" type="text" name="email" id="email" placeholder="Digite seu e-mail">
                <div class="underline"></div>
            </div>
            <br>
            <div class="input-field">
                <input class="entryBox" type="password" name="password" id="password" placeholder="Digite sua senha">
                <div class="underline"></div>
            </div>
            <input type="submit" value="Entrar" class="Continue">
        </form>
        <br>
        <p style="text-align: center;">Esqueceu sua senha? <a onclick="showForgotPass()">Clique aqui</a></p>
        <div class="smLineBG"></div>
        <div class="smLine"></div>
        <div class="authBtns" style="text-align: center;">
            <button onclick="showRegister()" class="btn btn-outline-warning loginBtn">Quero me Cadastrar</button>
        </div>
        
    </main>
</section>

<section id="Register" class="register">
    <main style="height:95vh;" class="container">
        <h2 class="formH2" style="text-align: center;">Guru <span style="color:var(--main-Color)">•</span> Delivery</h2>
        <p class="formP" style="text-align: center;">Preencha os campos <br> para criar o seu cadastro</p>
        <div class="smLineBG"></div>
        <div class="smLine"></div>
        
        <form method="post" action="/registered/" accept-charset="utf-8">
            {% csrf_token%}
            <div class="input-field">
                <input class="entryBox" type="text" name="name" id="name" placeholder="Digite seu nome">
                <div class="underline"></div>
            </div>
            <br>
            <div class="input-field">
                <input class="entryBox" type="text" name="email" id="email" placeholder="Digite seu e-mail">
                <div class="underline"></div>
            </div>
            <br>
            <div class="input-field">
                <input class="entryBox" type="password" name="password" id="password" placeholder="Digite sua senha">
                <div class="underline"></div>
            </div>
            <input type="submit" value="Cadastrar" name="Cadastrar" class="Continue">
        </form>
        <br>
        <p style="text-align: center;">Ja tem cadastro? <a onclick="showLogin()" >Fazer Login</a></p> 
    </main>
</section>

<section id="ForgotPass" class="ForgotPass">
    <main style="height:95vh;" class="container">
        <h2 class="formH2" style="text-align: center;">Guru <a href="#">•</a> Delivery</h2>
        <h4 class="formH3">Esqueceu sua senha?</h4>
        <p class="formP" style="text-align: center;">Preencha o campo com seu e-mail e receba as instruções necessárias para redefinir  a sua senha.</p>
        <div class="smLineBG"></div>
        <div class="smLine"></div>
        
        <form action="">
            <div class="input-field">
                <input class="entryBox" type="text" name="email" id="email" placeholder="Digite seu e-mail">
                <div class="underline"></div>
            </div>
            
            <input type="submit" value="Enviar" name="Entrar" class="Continue">
        </form>
        <br>
    </main>
</section>

<section id="checkEmail" class="checkEmail">
    <main style="height:95vh;" class="container">
        <h2 class="formP" style="text-align: center;">Verifique seu E-mail</h2>
        <p class="formP" style="text-align: center;">Enviamos as instruções para recuperação de senha para o seu e-mail.</p>
        
        <form action="">
            
            <input type="submit" value="Fazer Login" name="Entrar" class="Continue">
        </form>
        <div style="visibility: hidden;" class="smLineBG"></div>
        <div style="visibility: hidden;" class="smLine"></div>
    </main>
</section>

<!-- Gerente -->

<section id="Register" class="register">
    <main style="height:95vh;" class="container">
        <h2 class="formH2" style="text-align: center;">Guru <span style="color:var(--main-Color)">•</span> Delivery</h2>
        <p class="formP" style="text-align: center;">Preencha os campos <br> para criar o seu cadastro como Restaurante</p>
        <div class="smLineBG"></div>
        <div class="smLine"></div>
        
        <form method="post" action="/registered/" accept-charset="utf-8">
            {% csrf_token%}
            <div class="input-field">
                <input class="entryBox" type="text" name="name" id="name" placeholder="Digite seu nome">
                <div class="underline"></div>
            </div>
            <br>
            <div class="input-field">
                <input class="entryBox" type="text" name="email" id="email" placeholder="Digite seu e-mail">
                <div class="underline"></div>
            </div>
            <br>
            <div class="input-field">
                <input class="entryBox" type="password" name="password" id="password" placeholder="Digite sua senha">
                <div class="underline"></div>
            </div>
            <input type="submit" value="Cadastrar" name="Cadastrar" class="Continue">
        </form>
        <br>
        <p style="text-align: center;">Ja tem cadastro? <a onclick="showLogin()" >Fazer Login</a></p> 
    </main>
</section>