{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7a9bd15cd7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'public/css/bagStyle.css'%}">
    <link rel="stylesheet" href="{% static 'public/css/navbarStyle.css'%}">
    <link rel="stylesheet" href="{% static 'public/css/colors.css'%}">
    <title>Sacola</title>
</head>
<body>

    <section class="Cardapio">
        <main class="container">
            <div class="row">
                <h2 class="formH2">Sacola</h2>
            </div>

                <div class="row card bg-light">
                    <div class="col-sm">
                        <div class=" bg-light">
                            <h5>Endereço</h5>
                            <button class="card bg-light addresCard">Rua das Maripousas</button>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class=" bg-light">
                            <h5>Tipo de Pagamento</h5>
                            <div>
                                <button class="btn login-btn">Dinheiro</button>
                                <button class="btn login-btn">Cartão</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class=" bg-light">
                            <h5>Troco</h5>
                            <div class="card addresCard" >
                                <h5>50,00</h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                </div>
            
        </main>
    </section>

    <section class="Cardapio">
        <main class="container checkoutItems">
            <P>4 Itens</P>
            <div class="smLineCD "></div>
            <br>
            
            <div class="scrolledDiv">
                <div class="row bagRow card bg-light">
                    <div class="card bg-light bagItemCard">
                        <img class="rounded float-left bagItemImg" src="../static/public/images/Card-burger-1 1.png" alt="">
                        <div class="bagItemContent" style="display: inline-block;">
                            <p>Tradicional</p>
                            <h5>Texas Burguer</h5>
                            <h6>25,50</h6>
                        </div>
                        <div class="quantityGroup">
                            <Button class="qntMinusBtn btn">-</Button>
                            <div class="qntValueText"><h3>01</h3></div>
                            <Button class="qntMoreBtn btn">+</Button>
                        </div>
    
                    </div>
                </div>
                <div class="row bagRow card bg-light">
                    <div class="card bg-light bagItemCard">
                        <img class="rounded float-left bagItemImg" src="../static/public/images/Card-burger-1 1.png" alt="">
                        <div class="bagItemContent" style="display: inline-block;">
                            <p>Tradicional</p>
                            <h5>Texas Burguer</h5>
                            <h6>25,50</h6>
                        </div>
                        <div class="quantityGroup">
                            <Button class="qntMinusBtn btn">-</Button>
                            <div class="qntValueText"><h3>01</h3></div>
                            <Button class="qntMoreBtn btn">+</Button>
                        </div>
    
                    </div>
                </div>
                <div class="row bagRow card bg-light">
                    <div class="card bg-light bagItemCard">
                        <img class="rounded float-left bagItemImg" src="../static/public/images/Card-burger-1 1.png" alt="">
                        <div class="bagItemContent" style="display: inline-block;">
                            <p>Tradicional</p>
                            <h5>Texas Burguer</h5>
                            <h6>25,50</h6>
                        </div>
                        <div class="quantityGroup">
                            <Button class="qntMinusBtn btn">-</Button>
                            <div class="qntValueText"><h3>01</h3></div>
                            <Button class="qntMoreBtn btn">+</Button>
                        </div>
    
                    </div>
                </div>
                <div class="row bagRow card bg-light">
                    <div class="card bg-light bagItemCard">
                        <img class="rounded float-left bagItemImg" src="../static/public/images/Card-burger-1 1.png" alt="">
                        <div class="bagItemContent" style="display: inline-block;">
                            <p>Tradicional</p>
                            <h5>Texas Burguer</h5>
                            <h6>25,50</h6>
                        </div>
                        <div class="quantityGroup">
                            <Button class="qntMinusBtn btn">-</Button>
                            <div class="qntValueText"><h3>01</h3></div>
                            <Button class="qntMoreBtn btn">+</Button>
                        </div>
    
                    </div>
                </div>
                <div class="row bagRow card bg-light">
                    <div class="card bg-light bagItemCard">
                        <img class="rounded float-left bagItemImg" src="../static/public/images/Card-burger-1 1.png" alt="">
                        <div class="bagItemContent" style="display: inline-block;">
                            <p>Tradicional</p>
                            <h5>Texas Burguer</h5>
                            <h6>25,50</h6>
                        </div>
                        <div class="quantityGroup">
                            <Button class="qntMinusBtn btn">-</Button>
                            <div class="qntValueText"><h3>01</h3></div>
                            <Button class="qntMoreBtn btn">+</Button>
                        </div>
    
                    </div>
                </div>
                <div><br></div>
                <br>
                <div><br></div>
                <br>
                
            </div>
            
            
            
            
        </main>
    </section>

    <footer class="d-flex justify-content-center">
        <div class="priceBox fixed-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <h6 class="finalPriceText">Subtotal</h6>
                    </div>
                    <div class="col-lg">
                        
                    </div>
                    <div class="col-md">
                        <h6 class="finalPriceText">R$ 102,00</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <h6 class="finalPriceText">Frete</h6>
                    </div>
                    <div class="col-lg">
                        
                    </div>
                    <div class="col-md">
                        <h6 class="finalPriceText">--</h6>
                    </div>
                </div>
                <div class="priceDashedRow">
                <div class="row">
                    <div class="col-md">
                        <h6 class="finalPriceText">Total</h6>
                    </div>
                    <div class="col-lg">
                        
                    </div>
                    
                    <div class="col-md">
                        <h6 class="finalPriceValue">R$ 102,00</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                        <button class="btn login-btn">Continuar</button>
                    </div>
                    <div class="col-sm"></div>
                
                </div>
            </div>
            
            

                

            </div>
        </div>
    </footer>

    
</body>
</html>